* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--primary-bg-color);
    color: azure;
    font-family: var(--fonte-primaria);
}

:root {
    --fonte-primaria: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --primary-bg-color: rgb(64, 66, 68);
    --secondary-bg-color: rgb(22, 29, 34);
    --basic: rgb(218, 218, 218);
    --red-danger: rgb(77, 1, 1);
    --green-good: rgb(41, 206, 0);
}

.flex {
    display: flex;
}

h1 {
    justify-self: center;
    margin: 40px 0;
}

.center {
    justify-content: center;
}

button {
    width: 80px;
    padding: 7px 0;
    border-radius: 15px;
    color: var(--basic);
}

    #deletar {
        background-color: var(--red-danger);
    }

    #editar {
        background-color: var(--primary-bg-color);
    }

#games-list {
    width: fit-content;
    height: 90%;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 30px;
    gap: 30px;
    flex-wrap: wrap;
}

.game {
    width: 300px;
    max-height: 450px;
    border: 1px solid var(--basic);
    border-radius: 15px;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--secondary-bg-color);
}
    

    .img-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        align-self: center;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;    
    }

    .game ul, h3, form {
        list-style-type: none;
        align-self: center;
    }

    .game h3 {
        text-align: center;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .game:hover {
        background-color: rgba(22, 29, 34, 0.452);
        cursor: pointer;
    }

#game-buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 10px;
    padding: 20px 0;
}
